:root {
  --main-color: #009ad8;
}

*,
:after,
:before {
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  scroll-padding-top: 37.6px;
}

::selection {
  background-color: var(--main-color);
  color: white;
}

/*nav style*/

nav {
  background-color: #1e202b;
  /* box-shadow: -5px 2px 54px -9px #012f509d; */
  color: white;
}
.branding {
  color: white;
  text-decoration: none;
}

.site-title {
  margin-bottom: 5px;
  font-size: 1.1rem;
  font-weight: 700;
  color: white;
  margin-bottom: 0.3rem;
}
.site-desc {
  font-size: 0.65555rem;
  display: block;
  color: #bfc1c8;
}
.navbar {
  background-color: #1e202b !important;
  --bs-navbar-color: white;
  --bs-navbar-toggler-focus-width: 0rem;
}
.navbar-nav {
  --bs-nav-link-color: white;
  --bs-nav-link-hover-color: var(--main-color);
  --bs-navbar-active-color: var(--main-color);
}

.navbar-toggler {
  transition: all 0.5s;
  border-radius: 40px;
  padding: 15px;
}
.navbar-toggler:hover {
  color: var(--main-color);
  border: 2px solid var(--main-color);
}
.sizing {
  width: 90%;
  margin: auto;
}
li {
  margin: 0 0.5rem;
}
.navbar-collapse {
  flex-grow: 0;
}

/* .nav-link:focus{
  color:white
} */

/*header style*/

header {
  background-image: url(../images/banner.png);
  background-position: center;
  background-size: cover;
  min-height: 350px;
  padding: 70px 0;
}

.find-location,
.subscribe {
  width: 100%;
  position: relative;
}
.find-location input,
.subscribe input {
  border-radius: 30px;
  padding: 15px 50px 15px 15px;
  background: #1e202b;
  color: white;
  border-color: transparent;
  width: 100%;
  transition: all 0.5s;
}
.subscribe input:focus,
.find-location input:focus {
  outline: 0;
  box-shadow: -5px 2px 54px -9px #012f509d;
}
.subscribe button,
.find-location button {
  top: 5px;
  right: 5px;
  bottom: 5px;
  padding: 0 40px;
  border-radius: 30px;
  outline: 0;
  border-color: transparent;
  background-color: #009ad8;
  transition: all 0.5s;
}
.subscribe button:hover,
.find-location button:hover {
  background-color: #009bd8c3;
  border-color: #009bd8c3;
}



/*forecast section style*/

.forecast-container {
  background: #323544;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  margin-top: -150px;
  margin-bottom: 50px;
  color: white;
}

.forecast-head {
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: center;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.73);
}
.row {
  --bs-gutter-x: 0rem;
}
.forecast-content {
  padding: 50px 20px 10px;
  text-align: center;
}
.today {
  text-align: left;
  padding-top: 30px;
  padding-bottom: 30px;
}
.location {
  font-size: 1.2857142857em;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.73);
}
.degree {
  font-size: 1.7142857143em;
  color: white;
  font-weight: 700;
}
.num {
  font-size: 5rem;
  padding-right: 20px;
}

.custom {
  color: #009ad8;
  margin: 20px 0;
}
.today span {
  margin-right: 20px;
}
.nd-degree {
  color: rgba(255, 255, 255, 0.73);
  font-weight: 400;
  font-size: 1rem;
}

.forecast:nth-child(even) {
  background-color: #262936;
}

/*footer style*/

footer {
  background-color: #262936;
  padding: 50px 0;
}

.icon-circle i {
  font-size: large;
}
.icon-circle {
  width: 40px;
  height: 40px;
  background-color: #1e202b;
  border-radius: 50%;
  color: var(--main-color);
  margin: 0 3px;
  transition: all 0.7s;
}
.icon-circle:focus {
  border: 1px solid var(--main-color);
}
.icon-circle:hover {
  background-color: var(--main-color);
  color: white;
  cursor: pointer;
}

.copy-write {
  color: rgba(255, 255, 255, 0.788);
  font-size: 0.9rem;
  margin-left: 2px;
}

/*contact style*/
.contact {
  background-color: #1e202b;
}

.home-link,
.contact-details,.gray-color {
  color: rgba(255, 255, 255, 0.788);
}
.contact-nav {
  background-color: #262936;
  color: rgba(255, 255, 255, 0.788);
}
.contact-map {
  background-color: #262936;
  border-radius: 10px;
}
.contact-details div i,
.contact-details span i {
  color: var(--main-color);
  margin: 2px;
}

.contact-inputs:hover,
.contact-inputs:focus {
  border: 1px solid var(--main-color);
}
.contact-inputs {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  appearance: none;
  background-color: transparent;
  background-clip: padding-box;
  border: 1px solid rgba(255, 255, 255, 0.703);
  border-radius: 50px;
  transition: all 0.15s ease-in-out;
  outline: 0;
  padding: 0.5rem 1.5rem;
  margin: 0.5rem;
}
.message-input {
  padding-bottom: 5rem;
  border-radius: 35px;
}

/*Meddiaaa*/
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .nav-link {
    border: 1px solid transparent;
    transition: all 0.5s;
  }
  .active,
  .nav-link:hover {
    border: 1px solid var(--main-color);
    border-radius: 50px;
  }
}

@media (max-width: 991px) {
  .menu {
    margin: 1rem 0;
    background: #262936;
    border-radius: 10px;
  }
  .menu-item {
    padding: 0.5rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  .menu-item:last-child {
    border-bottom: none;
  }
  .icon-circle {
    margin-top: 15px;
  }
}
@media (min-width: 992px) {
  .col-md-offset-1 {
    margin-left: 8.3333333333%;
  }
}
